/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
h1 h2 h3 {
    font-family: 'DM Serif Display', serif;
font-family: 'Roboto Mono', monospace;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    font-size: 16px;
    line-height: 1.5;
    

}
h1 h2 h3 {
    font-family: 'Roboto Mono', monospace;
}
/* header */
.header {
    background-color: #F46026;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 30px;
}
.nav-menu ul{
    margin-right: 20px;
    padding: 20px 0;
}
li {
    color: #D1CDA7;
    font-weight: 700;
    font-size: 20px;
}
/* main */
main {
    background-color: #D4CEA7;
}
.article1 {
    padding: 30px 0;
}
.box {
    background-color: #085979;
    width: 30%;
    padding: 20px 0;
    height: 550px;
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.5); 
}
.nav-menu .flex {
    justify-content: flex-start;
}
.column1 {
    list-style: decimal;
    padding-left: 40px;
}
.column2 {
    list-style: disc;
    padding-left: 40px;
}
.sub-menu {
    list-style: square;
    padding-left: 40px;
}
.column3 {
    list-style-image: url(../assets/media/circle-check-solid.svg);
    padding-left: 60px;
}
.column3 li {
    font-size: 36px;
}
.column3 span {
    font-size: 20px;
}
.article2 h1 {
    font-size: 36px;
    padding-top: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
.article2 p {
    font-size: 20px;
    padding-top: 10px;
    margin-left: 50px;
    color: #706969;
}
.article2 h2 {
    font-size: 36px;
    padding-top: 0px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
/* footer */
.footer {
    background-color: #252C22;
    padding: 50px 0;
}
.footer .flex {
    justify-content: flex-start;
}
.footer a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 30px;
}